<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoxi.gm.mapper.LoginInfoMapper">
    <!--User selectUserByPhone(String phone);-->
    <select id="selectUserByPhone" resultType="com.ruoxi.gm.domain.LoginInfo">
        select id, username, phone, email, salt, password, type, disable
        from t_logininfo where phone = #{phone}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="logininfo_id">
        insert into t_logininfo (username, phone, salt, password, type, disable)
        values (#{username}, #{phone}, #{salt}, #{password}, #{type}, #{disable});
    </insert>

    <!--LoginInfo findByUsernameOrPhoneOrEmail(UserQuery query);-->
    <select id="findByUsernameOrPhoneOrEmail" resultType="com.ruoxi.gm.query.UserQuery">
        select id, username, phone, email, salt, password, type, disable
        from t_logininfo where (username=#{username} or phone = #{username} or email = #{username}) and type = #{type}
    </select>

    <!--LoginInfo selectUserByEmail(String email);-->
    <select id="selectUserByEmail" resultType="com.ruoxi.gm.domain.LoginInfo">
        select id, username, phone, email, salt, password, type, disable
        from t_logininfo where email = #{email}
    </select>
</mapper>
